
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;

}

#navbar {
    background-color: #c4c4c4;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.menu-item {
    color: black;
}

#yarnball {
    margin-bottom: 5%;
}

#welcome {
    margin-top: 5%;
    margin-bottom: -7%;
    margin-left: 10%;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.btn {
    background-color: #c4c4c4;
    border-radius: 0%;
    border: white;
    color: black;
}

#searchbtn {
    background-color: black;
    color: white;
}

#searchfrm {
    border-radius: 0%;
    border: white;
}