.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}

/*.nav-item {
    display: flex;
    flex-direction: row;
}


#navbarSupportedContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-nav {
    position: relative;
    left: 70%;
}*/
